body{
    background: #EEF5FC;
    color: #454545;
    margin: 0px !important;
    padding: 0px !important;
    font-family: Roboto;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.logo{
    width: 250px;
    text-align:center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.noMP {  margin: 0px; padding: 0px;}
.m10 { margin: 10px;}
.ml10 { margin-left: 10px;}
.mr10 { margin-right: 10px;}
.mt10 { margin-top: 10px;}
.mb10 { margin-bottom: 10px;}
.p10 { padding: 10px; }
.pl10 { padding-left: 10px; }
.pr10 { padding-right: 10px; }
.pt10 { padding-top: 10px; }
.pb10 { padding-bottom: 10px; }

.container {
    display: grid;
  
    grid-template-areas:
      "nav header"
      "nav content";
  
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0px;
  
    height: 100vh;
  }

.header {
    grid-area: header;
    background-color: white;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    width:100%;
    text-align: center;
    position: fixed;
    z-index: 1299;
}

.login-user { text-align: right; margin-right: 20px;}

.sidebar-wrapper{
    grid-area: nav;
    min-height: 100vh;
    background-color : White;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 2px 1px 0px rgba(0,0,0,0.2), 0px 1px 3px 0px rgba(0,0,0,0.12);
    min-width:250px;
    position: fixed;
    z-index: 1300;
}

.content-wrapper{
    grid-area: content;
    padding: 10px;
    margin-top: 60px;
}

.content-header{
    padding: 0 0 0 10px ;
}

.header-buttons {
    padding: 5px;
    padding-right: 25px;
    vertical-align: text-bottom;
    text-align: right;
}

.nav{
    margin-top: 10px;
}